{% load static %}
<div> 
    <nav class="sidebar d-flex flex-column">
        <ul class="nav flex-column">

            <!-- Logo SINC Moderna -->
            <li class="nav-item text-center">
                <a href="{% url 'home' %}" class="nav-link d-flex justify-content-center align-items-center" style="height: 60px;" data-tooltip="SINC">
                    <img src="{% static 'img/logo_sinc_branca.png' %}" alt="SINC" class="img-fluid" style="max-height: 35px; width: auto; filter: none;">               
                </a>
            </li>
            
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link" data-tooltip="Início">
                    <i class="fas fa-home"></i> 
                    <span class="nav-text">Início</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link" data-tooltip="Contratos">
                    <i class="fas fa-file-contract"></i> 
                    <span class="nav-text">Contratos</span>
                </a>
                <ul class="submenu">
                    <li><a href="{% url 'abrir_contratos' %}" class="nav-link" data-tooltip="Abrir">
                        <i class="fas fa-folder-open"></i> 
                        <span class="nav-text">Abrir</span>
                    </a></li>
                    <li><a href="{% url 'cadastro_contrato' %}" class="nav-link" data-tooltip="Cadastrar">
                        <i class="fas fa-plus"></i> 
                        <span class="nav-text">Cadastrar</span>
                    </a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="{% url 'selecionar_contrato' %}?next={% url 'menu_cadastro_estrutura' %}" class="nav-link" data-tooltip="Cadastro de Estrutura">
                    <i class="fas fa-users-cog"></i> 
                    <span class="nav-text">Cadastro de Estrutura</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="#" class="nav-link" data-tooltip="Configuração Avançada">
                    <i class="fas fa-cogs"></i> 
                    <span class="nav-text">Configuração Avançada</span>
                </a>
                <ul class="submenu">
                    <li>
                        {% if contrato and contrato.pk %}
                            <a href="{% url 'adicionar_regional' contrato_id=contrato.pk %}" class="nav-link" data-tooltip="Cadastrar Regional">
                                <i class="fas fa-map-marker-alt"></i> 
                                <span class="nav-text">Cadastrar Regional</span>
                            </a>
                        {% else %}
                            <a href="{% url 'selecionar_contrato' %}?next=/cad_contrato/adicionar-regional/" class="nav-link" data-tooltip="Cadastrar Regional">
                                <i class="fas fa-map-marker-alt"></i> 
                                <span class="nav-text">Cadastrar Regional</span>
                            </a> 
                        {% endif %}
                    </li>                   
                    <li><a href="{% url 'adicionar_escopo' %}" class="nav-link" data-tooltip="Escopos de Atividade">
                        <i class="fas fa-tasks"></i> 
                        <span class="nav-text">Escopos de Atividade</span>
                    </a></li>       
                    <li><a href="{% url 'adicionar_equipe' %}" class="nav-link" data-tooltip="Cadastrar Equipes">
                        <i class="fas fa-users"></i> 
                        <span class="nav-text">Cadastrar Equipes</span>
                    </a></li>
                    <li><a href="{% url 'adicionar_funcao' %}" class="nav-link" data-tooltip="Cadastrar Funções">
                        <i class="fas fa-user-tag"></i> 
                        <span class="nav-text">Cadastrar Funções</span>
                    </a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link" data-tooltip="Mão de Obra">
                    <i class="fas fa-hard-hat"></i> 
                    <span class="nav-text">Mão de Obra</span>
                </a>
                <ul class="submenu">
                    <li>
                        {% if contrato and contrato.contrato %}
                          <a href="{% url 'grupo_abc_form' contrato_id=contrato.contrato %}" class="nav-link" data-tooltip="Encargos Sociais">
                            <i class="fas fa-percentage"></i> 
                            <span class="nav-text">Encargos Sociais</span>
                          </a>
                        {% else %}
                          <a href="{% url 'selecionar_contrato' %}" class="nav-link" data-tooltip="Encargos Sociais">
                            <i class="fas fa-percentage"></i> 
                            <span class="nav-text">Encargos Sociais</span>
                          </a>
                        {% endif %}
                    </li>
                    <li><a href="#" class="nav-link" data-tooltip="Salários">
                        <i class="fas fa-dollar-sign"></i> 
                        <span class="nav-text">Salários</span>
                    </a></li>
                    <li><a href="#" class="nav-link" data-tooltip="Adicionais">
                        <i class="fas fa-plus-circle"></i> 
                        <span class="nav-text">Adicionais</span>
                    </a></li>
                    <li><a href="#" class="nav-link" data-tooltip="Benefícios">
                        <i class="fas fa-gift"></i> 
                        <span class="nav-text">Benefícios</span>
                    </a></li>
                    <li><a href="#" class="nav-link" data-tooltip="Fardamentos e EPI's">
                        <i class="fas fa-tshirt"></i> 
                        <span class="nav-text">Fardamentos e EPI's</span>
                    </a></li>
                </ul>
            </li>
            

            <li class="nav-item">
                <a href="{% url 'dashboard_custo_direto' %}" class="nav-link" data-tooltip="Análise de Custos">
                    <i class="fas fa-chart-line"></i> 
                    <span class="nav-text">Análise de Custos</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link" data-tooltip="Banco de Preços">
                    <i class="fas fa-database"></i> 
                    <span class="nav-text">Banco de Preços</span>
                </a>
                <ul class="submenu">
                    <li><a href="{% url 'lista_formularios' %}" class="nav-link" data-tooltip="Atualizar Formulários">
                        <i class="fas fa-edit"></i> 
                        <span class="nav-text">Atualizar Formulários</span>
                    </a></li>
                    <li><a href="#" class="nav-link" data-tooltip="Volumetria">
                        <i class="fas fa-cube"></i> 
                        <span class="nav-text">Volumetria</span>
                    </a></li>
                    <li><a href="#" class="nav-link" data-tooltip="Custo Mão de Obra">
                        <i class="fas fa-hard-hat"></i> 
                        <span class="nav-text">Custo Mão de Obra</span>
                    </a></li>
                    <li><a href="#" class="nav-link" data-tooltip="Custo Veículos">
                        <i class="fas fa-truck"></i> 
                        <span class="nav-text">Custo Veículos</span>
                    </a></li>
                    <li><a href="#" class="nav-link" data-tooltip="Custo Equipamentos">
                        <i class="fas fa-tools"></i> 
                        <span class="nav-text">Custo Equipamentos</span>
                    </a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link" data-tooltip="Análises Avançadas">
                    <i class="fas fa-chart-bar"></i> 
                    <span class="nav-text">Análises Avançadas</span>
                </a>
                <ul class="submenu">
                    <li><a href="#" class="nav-link" data-tooltip="Sensibilidades">
                        <i class="fas fa-balance-scale"></i> 
                        <span class="nav-text">Sensibilidades</span>
                    </a></li>
                    <li><a href="#" class="nav-link" data-tooltip="Projeções Orçamento">
                        <i class="fas fa-chart-area"></i> 
                        <span class="nav-text">Projeções Orçamento</span>
                    </a></li>
                    <li><a href="#" class="nav-link" data-tooltip="Relatórios de Análise">
                        <i class="fas fa-file-chart"></i> 
                        <span class="nav-text">Relatórios de Análise</span>
                    </a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>