{# Parcial do formulário de criação/edição de Função #}
<form method="post" class="mt-4"
      action="{% url 'adicionar_equipe' %}"
      hx-post="{% url 'adicionar_equipe' %}"
      hx-target="#lista-equipes"
      hx-swap="innerHTML"
>

  {% csrf_token %}

  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">Nome da Função</div>
        <div class="card-body">
          {{ form.nome }}
          {% if form.nome.errors %}
            <div class="text-danger small">{{ form.nome.errors.0 }}</div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-header">Salário</div>
        <div class="card-body">
          {{ form.salario }}
          {% if form.salario.errors %}
            <div class="text-danger small">{{ form.salario.errors.0 }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex gap-2 justify-content-end">
    <button type="submit" class="btn btn-save"><i class="fas fa-save"></i> Salvar</button>
  </div>
</form>